appdirs==1.4.3
click==6.7
cycler==0.10.0
Flask==0.12
functools32==3.2.3.post2
googlemaps==2.4.6
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
matplotlib==2.0.0
nltk==3.2.2
numpy==1.12.0
oauthlib==2.0.1
packaging==16.8
pandas==0.19.2
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.11.1
requests-oauthlib==0.8.0
six==1.10.0
subprocess32==3.2.7
textblob==0.12.0
tweepy==3.5.0
Werkzeug==0.11.15
